@model Bloggie.Web.Models.ViewModels.AddTopicRequest

<div class="container mt-3">
    <h2 class="mb-3">@Resource.AddNewTopics - @Resource.Admin</h2>

    <form method="post">
        <div class="mb-3">
            <label class="form-label">@Resource.DisplayName (EN)</label>
            <input class="form-control" asp-for="DisplayNameEn" />
            <span class="text-danger" asp-validation-for="DisplayNameEn"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">@Resource.DisplayName (TR)</label>
            <input class="form-control" asp-for="DisplayNameTr" />
            <span class="text-danger" asp-validation-for="DisplayNameTr"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">@Resource.Content (TR)</label>
            <textarea class="form-control" id="content" asp-for="TopicDetailsTr"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">@Resource.Content (EN)</label>
            <textarea class="form-control" id="content" asp-for="TopicDetailsEn"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">@Resource.UploadImg</label>
            <input type="file" id="featuredImageUpload" class="form-control" />

            <img class="mt-3" src="" id="featuredImageDisplay" style="display:none;width: 300px;" />
        </div>

        <div class="mb-3">
            <label class="form-label">@Resource.ImageURL</label>
            <input type="text" class="form-control" id="featuredImageUrl" asp-for="FeaturedImageUrl" />
        </div>

        <button type="submit" class="btn btn-dark mb-3">@Resource.Save</button>
    </form>
</div>

@section Scripts {
    <script>
        var editor = new FroalaEditor('#content', {
            imageUploadURL: '/api/images'
        });


        const featuredUploadElement = document.getElementById('featuredImageUpload');
        const featuredImageUrlElement = document.getElementById('featuredImageUrl');
        const featuredImageDisplayElement = document.getElementById('featuredImageDisplay');


        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Aceept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    featuredImageUrlElement.value = result.link;
                    featuredImageDisplayElement.src = result.link;
                    featuredImageDisplayElement.style.display = 'block';
                });
        }


        featuredUploadElement.addEventListener('change', uploadFeaturedImage);

    </script>
}
