@model Bloggie.Web.Models.ViewModels.AddTopicRequest

<div class="container mt-3">
    <h2 class="mb-3">@Resource.AddNewTopics - @Resource.Admin</h2>

    <form method="post">
        <div class="mb-3">
            <label class="form-label">@Resource.DisplayName (EN)</label>
            <input class="form-control" asp-for="DisplayNameEn" />
            <span class="text-danger" asp-validation-for="DisplayNameEn"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">@Resource.DisplayName (TR)</label>
            <input class="form-control" asp-for="DisplayNameTr" />
            <span class="text-danger" asp-validation-for="DisplayNameTr"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">@Resource.ImageURL</label>
            <input class="form-control" asp-for="FeaturedImageUrl" />
        </div>

        <button type="submit" class="btn btn-dark">@Resource.Save</button>
    </form>
</div>
