@model Bloggie.Web.Models.ViewModels.EditTopicRequest

<div class="container mt-3">
    <h2 class="mb-3">@Resource.EditTopic - @Resource.Admin</h2>

    @if (Model != null)
    {
        <form method="post">
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label>@Resource.DisplayName (EN)</label>
                <input class="form-control" asp-for="DisplayNameEn" />
                <span class="text-danger" asp-validation-for="DisplayNameEn"></span>
            </div>

            <div class="mb-3">
                <label>@Resource.DisplayName (TR)</label>
                <input class="form-control" asp-for="DisplayNameTr" />
                <span class="text-danger" asp-validation-for="DisplayNameTr"></span>
            </div>

            <div class="mb-3">
                <label>@Resource.ImageURL</label>
                <input class="form-control" asp-for="FeaturedImageUrl" />
            </div>

            <div class="mb-3 d-flex">
                <button type="submit" class="btn btn-primary">@Resource.Save</button>


                <button type="submit"
                        class="btn btn-danger ms-2"
                        asp-area=""
                        asp-controller="AdminTopics"
                        asp-action="Delete">
                    @Resource.Delete
                </button>
            </div>
        </form>
    }
    else
    {
        <p>Topic not found!</p>
    }
</div>
