@model IEnumerable<Bloggie.Web.Models.Domain.Topic>

<div class="container mt-3">
    <h2>@Resource.AllTopics - @Resource.Admin</h2>

        <div class="container d-flex justify-content-end pe-4">
            <a asp-action="Add" class="btn btn-dark mb-3">@Resource.AddTopic</a>
        </div>
    
    

    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>DisplayName(EN)</th>
                    <th>DisplayName(TR)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
                {
                    <tr>
                        <td>@t.Id</td>
                        <td>@t.DisplayNameEn</td>
                        <td>@t.DisplayNameTr</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@t.Id" class="btn btn-sm btn-primary">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No topics found.</p>
    }
</div>
