@using Bloggie.Web.Repositories
@inject IHomePageRepository homePageRepo

@{
    var carouselImages = await homePageRepo.GetAllCarouselImagesAsync();
    var setting = await homePageRepo.GetHomePageSettingAsync();
}


<div class="d-flex flex-row">

    <!-- SIDEBAR KISMI -->
    <div class="bg-white border-end" style="width: 250px;">
        <partial name="_SidebarPartialView" />
    </div>

    <!-- ANA İÇERİK KISMI -->
    <div class="flex-grow-1 p-4">

        <!-- Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
            <!-- Dinamik carousel-indicators -->
            <div class="carousel-indicators">
                @for (int i = 0; i < carouselImages.Count(); i++)
                {
                    <button type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="@i"
                            class="@(i == 0 ? "active" : "")"
                            aria-current="@(i == 0 ? "true" : "false")"
                            aria-label="Slide @(i + 1)">
                    </button>
                }
            </div>

            <div class="carousel-inner">
                @{
                    int index = 0;
                }
                @foreach (var img in carouselImages)
                {
                    <div class="carousel-item @(index == 0 ? "active" : "")">
                        <img src="@img.ImageUrl"
                             class="d-block w-100 img-fluid shadow border-"
                             alt="Slide @index"
                             style="height: 400px; object-fit: cover; border-radius: 15px;" />
                        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
                            
                        </div>
                    </div>
                    index++;
                }
            </div>

            <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Alt taraftaki WYSIWYG metni -->
        <section class="bg-light rounded-3 shadow-sm p-3">
            @if (setting != null)
            {
                @Html.Raw(setting.BodyHtml)
            }
            else
            {
                <p>No body content has been set yet!</p>
            }
        </section>

    </div>
</div>
